{{ define "title" }}
    {{ .Title | title }}
{{ end }}
{{ define "main" }}
    {{ .Content }}
    {{ if gt (len (where (where .Site.RegularPages "Type" "posts") "File.Dir" "posts/")) 0 }}
        <ul class="list">
            {{ range first 10 .Pages.ByDate.Reverse }}
                <li>
                    <a href="{{ .RelPermalink }}" class="item">
                        <span class="title">{{ .Title }}</span>
                        <span class="subtitle">{{ .Params.subtitle }}</span>
                        <time>{{ .Date.Format "02 January 2006" }}</time>
                    </a>
                </li>
            {{ end }}
        </ul>
    {{ else }}
        <p>{{ i18n "noPosts" }}</p>
    {{ end }}
{{ end }}